* {
  box-sizing: border-box;
  color: #fff;
}

html {
  overflow: hidden;
}

.content {
  padding-top: 56px;
  height: 100vh;
}

.content > * {
  height: 100%;
}

/* Side Bar */

.drawer {
  width: 240px;
}

.fit-content {
  height: -webkit-fill-available;
}

.fit-content>div {
  height: 52px;
}

.user {
  background-color: rgba(79, 84, 92, 0.32);
}

.avatar img {
  height: 42px;
  width: 42px;
  object-fit: cover;
}

/* Chat */

.chat {
  overflow: hidden visible;
  height: 100%;
  padding-bottom: 62px;
}

.chat::-webkit-scrollbar {
  display: none;
}

/* Messages */

.message {
  width: fit-content;
  max-width: 600px;
}

.message .card-body {
  padding: 0.75rem;
}

.send {
  flex-direction: row-reverse;
}

.send > .flex-column {
  align-items: flex-end;
}

.send .message{
  margin-left: calc(42px + 1rem);
  border-radius: 0.25rem 0 0.25rem 0.25rem;
  background-color: #ab47bc !important;
}

.receive .message {
  margin-right: calc(42px + 1rem);
  border-radius: 0 0.25rem 0.25rem 0.25rem;
  background-color: #0288d1 !important;
}

.message-date {
  color: rgba(255, 255, 255, 0.5);
}

.bot {
  background: url("https://i.ibb.co/Gx6jzvr/bot-grey.png") no-repeat top 52px center/42px;
}

/* Chat */

.input-chat {
  position: relative;
  bottom: 62px;
  background-color: #36393F;
}

.btn-purpose {
  background-color: #ab47bc;
  color: #fff;
}

.navbar-dark {
  background-color: #202225;
}

.bg-dark-default {
  background-color: #36393F;
  color: #dcddde;
}

.bg-dark-drawer {
  background-color: #2f3136;
  color: #dcddde;
  white-space: nowrap;
  font-weight: 500;
}